@import "../vendor/unsemantic/assets/sass/partials/reset";
@import "../vendor/unsemantic/assets/sass/partials/text";
//@import "../vendor/unsemantic/assets/sass/unsemantic-grid-responsive-tablet.sass";

// Variables
//------------------------------------------------------------------------------
$primary-color: #3ea9b3;
$primary-color-shadow: #123133;
$secondary-color: #e64e39;
$text-color: #464646;

// Grids
// Mobile-to-tablet, and tablet-to-desktop breakpoint
// -----------------------------------------------------------------------------
$media-mobile-max: 767px;
$media-tablet-min: 768px;
$media-tablet-max: 1024px;
$media-desktop-min: 1025px;

@import '../vendor/unsemantic/assets/sass/partials/unsemantic-ie-snap';

@media screen {
    @import "grid-base";
}

@media screen and (max-width: $media-mobile-max) {
    @import "grid-mobile";
}

@media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {
    @import "grid-tablet";
}

@media screen and (min-width: $media-desktop-min) {
    @import "grid-desktop";
}