@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";

@import "base";

// Fonts
// -----------------------------------------------------------------------------
@include font-face('Arvo', font-files(
    'arvo/Arvo-Regular-webfont.woff', woff,
    'arvo/Arvo-Regular-webfont.ttf', ttf,
    'arvo/Arvo-Regular-webfont.svg#ArvoRegular', svg),
    'arvo/Arvo-Regular-webfont.eot');
@include font-face('Josefin', font-files(
    'josefin-slab/JosefinSlab-SemiBold-webfont.woff', woff,
    'josefin-slab/JosefinSlab-SemiBold-webfont.ttf', ttf,
    'josefin-slab/JosefinSlab-SemiBold-webfont.svg#JosefinSlabSemiBold', svg),
    'josefin-slab/JosefinSlab-SemiBold-webfont.eot');
%arvo {
  font-family: 'Arvo', serif;
  font-weight: normal;
}
%josefin {
  font-family: 'Josefin', serif;
  font-weight: normal;
  @include adjust-font-size-to(36px);
}


// Commons
// -----------------------------------------------------------------------------
body {
    color: $text-color;
}

h2 {
    @extend %josefin;
}

a {
    color: $secondary-color;
    text-decoration: underline;

    &:hover, &:focus {
        color: darken($secondary-color, 33%);
    }
}
.container {
    position: relative;
}
.message {
    @include adjust-font-size-to(20px);
    @include border-radius(5px);
    @include padding-leader();
    @include padding-trailer();
    @extend %grid-100;
    text-align: center;
}
.message-success {
    background: #079A54;
}
.message-error {
    background: #d2311a;
}
.form-error {
    @include border-radius(5px);
    background: #d2311a;
}

// Sprites
// -----------------------------------------------------------------------------
$icons-sprite: sprite-map("icons/*.png", $spacing: 170px, $layout: vertical);
.icons-email {
    background: sprite($icons-sprite, email, 100%, 10px) no-repeat;
    display: block;
    padding-right: 36px;
}
.icons-phone {
    background: sprite($icons-sprite, phone, 100%, 10px) no-repeat;
    display: block;
    padding-right: 36px;
}
.icons-twitter {
    background: sprite($icons-sprite, twitter, 100%, 10px) no-repeat;
    display: block;
    padding-right: 36px;
}

$skills-icons-sprite: sprite-map('skills-icons/*.png');
.skills-icon-html {
    background: sprite($skills-icons-sprite, html, 50%) no-repeat;
}
.skills-icon-drupal {
    background: sprite($skills-icons-sprite, drupal, 50%) no-repeat;
}
.skills-icon-symfony {
    background: sprite($skills-icons-sprite, symfony, 50%) no-repeat;
}
.skills-icon-wordpress {
    background: sprite($skills-icons-sprite, wordpress, 50%) no-repeat;
}
.skills-icon-ecommerce {
    background: sprite($skills-icons-sprite, ecommerce, 50%) no-repeat;
}
.skills-icon-android {
    background: sprite($skills-icons-sprite, android, 50%) no-repeat;
}

// Header
// -----------------------------------------------------------------------------
#site-header {
    background: #333;
    @include min-height(image-height('card.png'));
}
#site-logo {
    @include replace-text-with-dimensions('card.png');
    @include background-size(contain);
    @include leader(1);
    @include trailer(1);
    @extend %grid-20;
    @extend %push-10;
    @extend %tablet-push-10;
    @extend %mobile-grid-100;

    a {
        display: block;
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: $media-tablet-min) {
    #site-header {
        @include background(image-url('bg-header.png'));
        @include background-size(cover);
        background-repeat: no-repeat;
        background-position: center right;
        @include min-height(image-height('bg-header.png'));
    }

    #site-logo {
        @include leader(4);
    }
}

// Teaser
// -----------------------------------------------------------------------------
#teaser {
    background: $primary-color;
    border: 1px solid darken($primary-color, 10%);
    border-width: 1px 0;
    color: #FFF;
    @include padding-leader();

    h2 {
        @extend %grid-100;
    }

    .summary {
        @include adjust-font-size-to(18px, 2);
        @extend %grid-50;
        @extend %tablet-grid-100;
        @extend %mobile-grid-100;
    }

    .illustration {
        @extend %grid-40;
        @extend %hide-on-tablet;
        @extend %hide-on-mobile;

        position: absolute;
        right: 0;

        img {
            width: 100%;
        }
    }
}

// Skills
// -----------------------------------------------------------------------------
#skills {
    background: #FFF;
    @include padding-leader(5);
    @include padding-trailer(3);

    h2 {
        color: $secondary-color;
        @extend %grid-100;
    }

    .skills-group {
        @extend %grid-50;
        @extend %grid-parent;
        @extend %tablet-grid-100;
        @extend %mobile-grid-100;
    }

    article {
        @extend %grid-33;
        @extend %tablet-grid-33;
        @extend %mobile-grid-100;

        h3 {
            @extend %arvo;
            padding-top: 144px;
            text-align: center;

        }
    }
}

// Contact
// -----------------------------------------------------------------------------
#contact {
    background: $secondary-color;
    border-top: 1px solid darken($secondary-color, 10%);
    color: #FFF;
    @include padding-leader(3);
    @include padding-trailer(5);

    h2 {
        text-align: center;
        @extend %grid-100;
    }

    a {
        color: #FFF;
        text-decoration: underline;

        &:hover, &:focus {
            color: darken($secondary-color, 33%);
        }
    }

    hr {
        border-color: darken($secondary-color, 8%);
    }

    .summary {
        @extend %grid-parent;
        @extend %grid-70;
        @extend %push-15;
        @extend %tablet-grid-100;
        @extend %mobile-grid-100;
        @include adjust-font-size-to(18px, 2);

        p {
            @extend %grid-50;
            @extend %tablet-grid-100;
            @extend %mobile-grid-100;
        }
        ul {
            @extend %grid-50;
            @extend %tablet-grid-100;
            @extend %mobile-grid-100;
            list-style: none;
            text-align: right;
        }
    }

    form {
        @extend %grid-parent;
        @extend %grid-70;
        @extend %push-15;
        @extend %tablet-grid-100;
        @extend %mobile-grid-100;
        @include adjust-font-size-to(18px, 2);

        fieldset {
            @extend %grid-50;
            @extend %tablet-grid-100;
            @extend %mobile-grid-100;
            margin-bottom: 0;
        }
        label {
            @extend %arvo;
            @include adjust-font-size-to(20px, 1.5);
            display: block;
        }
        .input {
            @include adjust-font-size-to(20px);
            @include border-radius(5px);
            background: lighten($secondary-color, 25%);
            border: none;
            outline: none;
            padding: 2%;
            max-width: 96%;
            width: 96%;


            &:focus {
                background: #FFF;
            }
            &:invalid {
                background: lighten($secondary-color, 25%) sprite($icons-sprite, invalid, 98%, 10px) no-repeat;
            }
            &:focus:invalid {
                background: #FFF sprite($icons-sprite, invalid, 98%, 10px) no-repeat;
            }
            &:valid {
                background: lighten($secondary-color, 25%) sprite($icons-sprite, valid, 98%, 10px) no-repeat;
            }
            &:focus:valid {
                background: #FFF sprite($icons-sprite, valid, 98%, 10px) no-repeat;
            }
        }
        textarea {
            height: 170px;
            max-height: 170px;
        }

        .actions {
            @extend .grid-100;
            text-align: right;

            .submit {
                @extend %arvo;
                @include border-radius(5px);
                @include adjust-font-size-to(20px);
                background: $primary-color;
                border: none;
                cursor: pointer;
                color: #FFF;
                padding: 1% 5%;

                &:hover, &:focus {
                    background: darken($primary-color, 25%);
                }
                &:active {
                    background: lighten($secondary-color, 25%);
                    color: darken($secondary-color, 25%);
                }
            }
        }
    }
}

// Site footer
// -----------------------------------------------------------------------------
#site-footer {
    background: $text-color;
    border-top: 1px solid darken($text-color, 10%);
    color: #FFF;
    @include adjust-font-size-to(14px, 1);
    @include padding-leader();

    .summary {
        @extend %grid-50;
        @extend %tablet-grid-100;
        @extend %mobile-grid-100;
    }
    ul {
        list-style: none;
        margin: 0;
    }
    li {
        margin: 0;
    }

    a {
        color: #FFF;
    }
}


// Error page
// -----------------------------------------------------------------------------
#page-error {
    @include padding-leader(3);
    @include padding-trailer(5);

    h2 {
        text-align: center;
        @extend %grid-100;
    }
}
