{% extends "layout.html" %}

{% block html_title %}18 rue Divona | Développeur Web et mobile - Drupal, Symfony, Node.js{% endblock %}

{% block content %}
    <header id="site-header">
        <div class="container">
            <div id="site-logo">
                <a href="http://{{ app.request.host }}">
                    <h1>18 rue Divona</h1>
                    <h2>Développement Web et Mobile</h2>
                </a>
            </div>
        </div>
    </header>

    <section id="teaser">
        <div class="container">
            <h2>Développement Web avec Passion</h2>
            <div class="summary">
                <p>
                    Je m’appelle Cyril Gravelier, je suis <strong>développeur Web</strong>, et je suis passionné par ce que je fais. Travaillant en agence et en indépendant je réalise <strong>sites internet</strong>, e-commerce, <strong>modules Drupal</strong>, et <strong>application mobile</strong> (Android, et iOS). Mes outils de prédilections sont <strong>Drupal</strong>, <strong>Symfony</strong> et Node.js.<br/>
                </p>
            </div>

            <div class="illustration"><img src="{{ imgDir }}/screens.png" alt="" /></div>
        </div>
    </section>

    <section id="skills">
        <div class="container">
            <h2>Compétences</h2>

            <div class="skills-group">
                <article>
                    <h3 class="skills-icon-html">HTML</h3>
                </article>

                <article>
                    <h3 class="skills-icon-drupal">Drupal</h3>
                </article>

                <article>
                    <h3 class="skills-icon-symfony">Symfony</h3>
                </article>

            </div>
            <div class="skills-group">
                <article>
                    <h3 class="skills-icon-wordpress">WordPress</h3>
                </article>

                <article>
                    <h3 class="skills-icon-ecommerce">e-commerce</h3>
                </article>

                <article>
                    <h3 class="skills-icon-android">Mobile</h3>
                </article>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h2>Travaillons ensemble - Contact</h2>

            <div class="summary">
                <p>
                    Pour que nous puissions commencer à travailler ensemble vous pouvez me contacter en remplissant le formulaire ci dessous, ou vous trouverez mes coordonnées ci contre.
                </p>
                <ul>
                    <li><a href="mailto:cyril@18ruedivona.eu" class="icons-email">cyril@18ruedivona.eu</a></li>
                    <li><a href="tel:+33687907963" class="icons-phone">+33 6 87 90 79 63</a></li>
                    <li><a href="http://twitter.com/18rueDivona" class="icons-twitter">@18rueDivona</a></li>
                <ul>
            </div>

            <hr/>

            {% if flash is defined %}
                <p id="message" class="message message-{{ flash.type }}">{{ flash.message|raw }}</p>
            {% endif %}

            {{ form_start(form) }}
                {{ form_errors(form) }}

                <fieldset>
                    {{ form_row(form.name, {'attr': {'class': 'input'}}) }}
                    {{ form_row(form.email, {'attr': {'class': 'input'}}) }}
                    {{ form_row(form.phone, {'attr': {'class': 'input'}}) }}
                </fieldset>

                <fieldset>
                    {{ form_row(form.message, {'attr': {'class': 'input'}}) }}
                </fieldset>

                {{ form_widget(form) }}

                <div class="actions">
                    <input class="submit" type="submit" value="Envoyer"/>
                </div>
            {{ form_end(form) }}
        </div>
    </section>

    <footer id="site-footer">
        <div class="container">
            <div class="summary">
                <ul>
                    <li>SIRET n° 792 418 121 00010</li>
                    <li>Cyril Gravelier - 18 rue Divona</li>
                    <li>téléphone : <a href="tel:+33687907963">+33 6 87 90 79 63</a></li>
                    <li>email : <a href="mailto:cyril@18ruedivona.eu">cyril@18ruedivona.eu</a></li>
                    <li>Adresse : 5 rue de la deveze, 33700 Merignac</li>
                </ul>

                <p>Attention 18 rue Divona n’est pas une adresse postale, ni même une rue existante, mais uniquement le nom que j’utilise pour communiquer autour de mon activité de prestataire informatique.</p>
            </div>
        </div>
    </footer>
{% endblock %}
