<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

        <!--[if lt IE 9]>
            <script>document.write('<script src="{{ jsDir }}/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
        <link href="{{ cssDir }}/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ cssDir }}/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
            <link href="{{ cssDir }}/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <title>{% block html_title %}{% endblock %}</title>
        <meta name="description" content="{% block html_description %}{% endblock %}">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
